/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------------------------------------------------------------------------------ */
:root{
    --bg-color: #10121b66;
    --border-color: #71779040;
    --circle-red: #f96057;
    --circle-yellow: #f8ce52;
    --circle-green: #5fcf65;
    --search-bg: #14162b;
    --text-color: #717790c7;
    --theme-color: #f9fafb;
    --bgwhite-color: #f9fafb10;
    --hover-menu-bg: #0c0f194d;
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: url("./assets/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    height: 100%;

}
.app{
    max-width: 1200px;
    max-height: 860px;
    background-color: var(--bg-color);
    height: 80vh;
    width: 100%;
    backdrop-filter: blur(20px);
    border-radius: 20px;
}
.navbar{
    height: 8%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
    box-sizing: border-box;
    padding: 0 30px;
}
.menu-circles{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 239px;
    gap: 15px;
}
.circle{
    width: 15px;
    height: 15px;
    padding: 0;
    border-radius: 100%;
}
#red{
    background-color: var(--circle-red);
}
#yellow{
    background-color: var(--circle-yellow);
}
#green{
    background-color: var(--circle-green);
}
.menu-itens{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0px 20px;
}


.menu-sub-itens{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#sub-item{
    position: relative;
    height: 100%;
    width: 100%;
    min-width: 100px;
    display: flex;
    align-items: center;
}
.menu-itens a{
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    font-size: 15px;
    padding: 20px 30px;
    position: absolute;
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    overflow: hidden;
}
.menu-itens a:hover{
    text-decoration: none;
    color: var(--theme-color);
    border-bottom: 2px solid var(--theme-color);
}
.menu-itens a:hover::before{
    transform: translateY(100%);
}

.menu-itens a::before{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 3rem;
    height: 3rem;
    margin: auto;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    transform: translateY(200%);
    filter: blur(16px);
}
.menu-itens ::before{
    content: "";
    position: absolute;
    z-index: -1;
    transition-property: transform;
    transition-duration: inherit;
    transition-timing-function: inherit;
}
.menu-itens a::after{
    content: "";
    position: absolute;
    z-index: -1;
    transition-property: transform;
    transition-duration: inherit;
    transition-timing-function: inherit;
}

.search-bar{
    width: 100%;
    min-width: 400px;
    height: 40px;
    border-radius: 4px;
}
.search-bar input{
    border: none;
    background-image: url("./assets/search-icon.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    background-color: var(--search-bg);
    border-radius: 4px;
    box-shadow: 0 0 0 2px rgb(134 140 160 / 2%);
    width: 100%;
    height: 100%;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
    padding: 0px 15px 0px 40px;
    background-position: 13px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: var(--theme-color);
}
.profile-pic{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: 1px solid #ffffff;
    background-image: url("./assets/icon.jpeg");
    background-size: contain;
}
.profile-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    box-sizing: border-box;
    padding: 20px 26px;
}
.profile-info span{
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: var(--theme-color);
}
.profile-photo{
    max-width: 150px;
    max-height: 150px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.divider{
    border: 1px solid var(--border-color);
    width: 240px;
}

.aside-menu{
    max-width: 240px;
}
.aside-sub-itens{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}
.aside-sub-itens div a{
    text-decoration: none;
    color: var(--theme-color);
}
.subgroup{
    color: var(--text-color) !important;
    text-align: start !important;
}
#aside-item a{
    text-align: start;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    border-radius: 6px;
    padding: 8px 10px;
    background-color: transparent;
    transition: 0.3s;
    
}
#aside-item a:hover {
    background-color: var(--hover-menu-bg);
   }
.icon{
    fill: var(--theme-color);
}
.main-container{
    display: flex;
    flex-direction: row;
    height: 92%;
}
.main-content{
    border-left: 1px solid var(--border-color);
    box-sizing: border-box;
    padding: 20px 40px;
    border-radius: 0px 0px 20px 0px;
}
.main-content__header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 20px;
    color: var(--theme-color);
    gap: 20px;
}
.main-content__header h1, .main-content__header h2{
    text-align: center;
}
.main-content__projects{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    height: fit-content;
    box-sizing: border-box;
    padding: 20px;
}
.main-content__projects h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    line-height: 24px;
    color: var(--text-color);
    font-weight: 600;
}
.main-content__projects section{
    box-sizing: border-box;
    padding: 30px 0px 0px 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(180px,auto);
    row-gap: 20px;
    column-gap: 20px;
}

.projects-section a{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    text-decoration: none;
    color: var(--theme-color);
    position: relative;
    overflow: hidden;
    max-height: 180px;
}
.projects-section a::before{
    position: absolute;
    z-index: 0;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #00000050;
    content: "";
    border-radius: 16px;
}
.projects-section a img{
    width: 100%;
    height: 100%;
}
.project-hover{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    font-weight: 300;
    line-height: 1.5rem;
    opacity: 0;
}
.project-hover:hover{
    opacity: 0.9;
    transition: 0.4s;
}
